@model Sistemas_de_emprestimos_de_livro.Models.Renovacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Renovacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RenovacaoId" />
            <div class="form-group">
                <label asp-for="DataRenovacao" class="control-label"></label>
                <input asp-for="DataRenovacao" class="form-control" />
                <span asp-validation-for="DataRenovacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovaDataDevolucao" class="control-label"></label>
                <input asp-for="NovaDataDevolucao" class="form-control" />
                <span asp-validation-for="NovaDataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmprestimoId" class="control-label"></label>
                <select asp-for="EmprestimoId" class="form-control" asp-items="ViewBag.EmprestimoId"></select>
                <span asp-validation-for="EmprestimoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
